body {
    font-family: 'Overpass', arial, helvetica, sans-serif;
    font-size: 16px;
    color: #32383d;
    background-image:
        radial-gradient(
            circle at top center,
            #ededed,
            #bbb,
            #ededed
        );
}

.box {
    background: white;
    height: 57%; /* 695 396 */
    width: 49%; /* 1140 555 */
    margin: 20% auto 0;
    border: 1px solid white;
}

.box__header {
    background: linear-gradient(
      #c00, #470000
    );
    color: white;
    font-size: 1em;
}

.box__header--title {
    position: absolute;
    padding: 0.625em 1.25em;
    font-weight: 700;
}

.box__header--tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.tab {
    padding: 0.625em 1em;
    border-left: 1px solid white;
    color: rgba(255,255,255,0.5);
}

.tab.active, .tab:hover {
    background-image:
        radial-gradient(
            circle,
            #c00,
            #470000
        );
    color: rgba(255,255,255,1);
}

.box__content {
    margin: 1.25em;
}

.box__content--title {
    font-size: 1.5em;

}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1em;
}

li span {
    width: 150px;
    display: inline-block;
    font-weight: 700;
}

li span.active {
    background: green;
    display: inline;
    color: white;
    border-radius: 2px;
    padding: 0 .5em;
    font-weight: 200;
}
